@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	font: 100%/1.4 American Typewriter, serif; 
     	background-color: #ffffff;
     	margin: 0;
     	padding: 0;
     	color: #000000;
	text-align: center;
}
.homePage {
	background: #ffffff;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.header {
	background: #577A73;
	text-align: center;
	margin: 0px;
	padding: 0;
	float: left;
	width: 30%;
	height: 60px;
	border-radius: 15px 50px;
	vertical-align: middle;
	
}
.nav {
	background: #9FE0D2;
	margin: 0px;
	padding: 0;
	float: left;
	width: 70%;
	height: 60px;
	text-align: center;
	border-radius: 15px 50px;
}
.content {
	background: #ffffff;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #9FE0D2;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #000000;
}
a:visited {
     color: #000000;
}
a:hover, a:active, a:focus { 
     text-decoration: bold;
}
